/*GENERAL*/
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #f2dde4;
}
h1 {
    font-family: "Oooh Baby", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 800%;
    color: #ffbfda;
    text-shadow: 6px 6px #32a9d9;
    text-shadow: 0px 0px 30px #32a9d9, 0px 0px 15px #32a9d9, 3px 3px #32a9d9;
}
h2,h3{
    font-family: "Barlow", sans-serif;
    font-weight: bold;
}
h2{
    font-size: xx-large;
}
p{
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 25px;
}
a{
    text-decoration: none;
}
/*ANCLAS / BOTONES*/
#Filtro{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffbfda;
}
button{  
    border: 0;
    background-image: linear-gradient(
        150deg,
        #eb51a6,
        #eb51a6
    );
    border-radius: 8px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    transition: 0.3S;
}
button span{
    background-color: #ffbfda;
    padding: 16px 24px;
    border-radius: 6px;
    transition: 0.3S;
    color: #32a9d9;
}
button:hover{
    color: #32a9d9;
    border: 3px;
    border-style: solid;
    border-color: #32a9d9;
    transform: scale(1.1);
}
button:hover span{
    background: none;
}
button:active{
    transform: scale(0.9);
}
/* HEADER */
header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9328E;
}
#Logo{
    position: absolute;
    left: 1%;
    height: 25%;
    width: 10%;
    transition: 1.3s;
}
#Logo:hover{
    transform: scale(1.3);
    transition: 1.3s;
    cursor: pointer;
}

/*BOTON INICIO DE SESION*/
#BotonInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#AvatarBoton{
    position: absolute;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 12%;
    background-image: linear-gradient(
        150deg,
        #eb51a6,
        #ffbfda
    );    border-radius: 25px;
    border: 2px;
    border-style: solid;
    border-color: black;
}
#AvatarBoton:hover {
    background: none;
    background-image: linear-gradient(
        150deg,
        #eb51a6,
        #ffbfda
    );
    border: 3px;
    border-style: solid;
    border-color: #32a9d9;
    transition: 0.2s;
}
button:active{
    transform: scale(0.9);

}
#Avatar{
    height: 90%;
    width: 35%;
}

/*ASIDE*/
aside{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/*CUERPO*/
#Texto{
    width: 32%;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 2%;
    background-color: #ffbfda;
    padding: 1%;
    text-align: justify;
}
/*HOROSCOPO*/
#Horoscopo{
    padding-top: 10px;
    margin-right: 2%;
    width: 75%;
    height: 100%;
    margin-left: 5%;
    background-color: #ffbfda;
    padding-bottom: 0.25%;
    margin-bottom: 2%;
}
#HoroscopoTitulo > h2{
    color: #32a9d9;
}
#HoroscopoTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
/*PRIMERA FILA*/
#FilaPrimeraHoroscopo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 4%;
}
/*SEGUNDA FILA*/
#FilaSegundaHoroscopo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 4%;
}
/*TERCERA FILA*/
#FilaTerceraHoroscopo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5%;
}
/*TITULO CONJUNTO DE FICHAS*/
.fondoSubtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        150deg,
        #32a9d9,
        #fff
    );
    height: 50%;
    width: 20%;
    border-radius: 15px;
}
.fondoSubtituloTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbfda;
    width: 100%;
    height: 50%;
    margin: 5px;
    border-radius: 10px;
}
.fondoSubtitulo h2{
    color: #32a9d9;
}
/*FICHAS*/
.ficha{
    padding: 5px;
    margin-top: 20px;
    width: 76%;
    height: 100%;
    background-color: #f5f5dc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: transform .5s;
}

.ficha > h3{
    color: #32a9d9;
}
.ficha:hover{
    box-shadow: 0 0.1rem 0.6rem #32a9d9;
    transform: scale(1.06);
    transition-duration: 0.5s;
}

.textoficha{
    text-align: justify;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 243px;
    display: flex;
    align-items: center;
    background-color: #ffbfda;
}
.textoficha > p{
    color: black;
}
.imagenFicha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}
.imagenFicha > h3{
    color: #32a9d9;
}
.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondoSubtitulo > h2{
    color: #32a9d9;
}
/*FICHAS HOROSCOPO*/
.fichaH{
    padding: 5px;
    width: 130px;
    height: 150%;
    background-color: beige;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform .5s;
}
.fichaH > h3{
    color: #32a9d9;
}
.fichaH:hover{
    box-shadow: 0 0.1rem 0.6rem #32a9d9;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/*FUTBOLISTAS*/
#Futbolistas{
    margin-top: 6%;
    margin-left: 4%;
    width: 90%;
    padding-left: 1%;
    padding-right: 1%;
    height: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #ffbfda;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*CANTANTES*/
#Cantantes{
    margin-top: 7%;
    margin-left: 4%;
    margin-bottom: 50px;
    width: 90%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    padding-top: 3%;
    background-color: #ffbfda;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*HOROSCOPO -TITULO CONJUNTO DE FICHAS- HOROSCOPO*/
#HoroscopoTitulo{
    position: relative;
    left: 35%;
    width: 30%;
}
.fondoSubtituloH{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        150deg,
        #32a9d9,
        #fff
    );
    height: 50%;
    width: 20%;
    border-radius: 15px;
}
.fondoSubtituloTextoH{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbfda;
    width: 95%;
    height: 50%;
    margin: 5px;
    border-radius: 10px;
}
.fondoSubtituloH h2{
    margin: 15px;
    color: #32a9d9;
    font-size: xx-large;
}
/*FOOTER*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #D9328E;
}
#FooterImagen{
    width: 100px;
    height: 100px;
    transition: 0.8s;
}
#FooterImagen:hover{
    transform: scale(1.2);
    transition: 0.8s;
}
#FooterInicio{
    position: relative;
    left: 25%;
}
#FooterHoroscopo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
dt{
    position: relative;
    right: -60%;
}
.enlaceFooter{
    color: white;
    transition: 0.9s;
}
.enlaceFooter:hover >p{
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: bold;
    color: #32a9d9;
}
.tituloFooter{
    color: #32a9d9;
    font-weight: bold;
}